<ion-view view-title="About">
	<ion-content class="paddingclass">
		<div class="aboutlogo">
			<center>
				<img src="img/Chef.png" height="90px" />
			</center>
		</div>
		<div style=" margin-top: 30px;">
			<pre>
				About ReciFlix

						Welcome to the world's largest collection of vegetarian and non-vegetarian recipes! Here you'll find thousands of the best vegetarian and vegan recipes from features and popular departments in the magazine, each one prepared, tasted, and approved by editors in the VT test kitchen. Search for a specific ingredient above or browse below to spark your creativity in the kitchen and get your mouth watering. Want more free both vegetarian and non-vegetarian recipes in your in box every week? Sign up for our popular recipe newsletters and videos. You can also create your own My VT Recipe Box to save and organize your favorite recipes, print shopping lists, and more!
			</pre>
		</div>

		<br>
		<button class="button button-block  curvebutton button-color">
			Email Us
		</button>
		<button class="button button-block  curvebutton button-color">
			Share
		</button>
	</ion-content>
</ion-view>
