<ion-view view-title="About">
  <ion-content class="paddingclass">
    <div class="aboutlogo">
      <center>
        <img src="img/ionic.png" />
      </center>
    </div>
    <div style=" margin-top: 30px;">
      <p>About.................. Tasktr Description............................................................................... ............................................
      </p>
    </div>

    <br>
    <button class="button button-block  curvebutton button-color">
      Email Us
    </button>
    <button class="button button-block  curvebutton button-color">
      Share
    </button>
  </ion-content>
</ion-view>