<ion-view>
	<ion-nav-title>
		<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
				<input type="search" placeholder="Search" ng-model="search">
			</label>
			<i class="icon  ion-search" style="color:white;font-size:30px;padding-left:3px" ui-sref="app.searchedRecipes({searchQuery:search})"></i>
		</div>

	</ion-nav-title>
	<ion-nav-buttons side="secondary">
		<!--
		<i class="icon  ion-search" style="color:white;font-size:30px;padding-right:10px" ng-click="searchRecipe()"></i>
-->
	</ion-nav-buttons>
	<ion-content>
		<ion-list>
			<ion-item ng-repeat="item in categories" class="item-remove-animate">
				<!--<span ui-sref="singleRecipe({recipeId:item._id})">{{item.tags}}</span>-->
				<!--<div ui-sref="app.categoriesVideos({categorieName:item})">-->
				<div ui-sref="app.categoriesVideos({categorieName:item})">
					<center>
						<img ng-src="img/recipeImgs/{{item}}.jpg" height="180px" />
					</center>
					<center class="catgyName">{{item}}</center>
				</div>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()"></ion-infinite-scroll>
	</ion-content>
	<ion-footer-bar align-title="left" class="bar-assertive">
		<a class="button button-clear" href="">
			<i class="icon ion-laptop" style="color:white;font-size:30px"></i>
		</a>
		<h1 class="title">All Categories</h1>
		<a class="button button-clear" ui-sref="app.myFav">
			<i class="icon ion-ios-briefcase" style="color:white;font-size:30px"></i>
		</a>
	</ion-footer-bar>
</ion-view>
