<ion-view ng-init="singleRecipe()" cache-view="false">
  <ion-nav-title>
    <span style="color:white">Recipe Info
    </span>
  </ion-nav-title>
  <ion-content has-header="true">
    <div class="card">
      <div class="item item-divider" style="text-align:center">
        RECIPE: {{recipe.title}}
      </div>
      <center>
        <img ng-src="{{recipe.images.mq}}" height="180px" />
      </center>

      <div class="row">
        <div class="col"><span my-like-icon favorite=recipe></span>
          <br>{{recipe.ytlikes + recipe.applikes | numeral}}</div>
        <div class="col"><i class="ion ion-eye" style="color:grey;font-size:30px"></i>
          <br>{{recipe.views | numeral}}</div>
        <div class="col">
          <span my-favorite-icon favorite=recipe></span>
        </div>
        <div class="col"><i class="ion ion-play" style="color:#00CCA3;font-size:30px" ui-sref="app.showRecipes({videoId:recipe.videoId})"></i>
        </div>
      </div>
    </div>


    <ion-slide-box scroll="true" show-pager="false" does-continue="true">
      <ion-slide>
        <div class="card" style="min-height:300px">
          <div class="item item-divider bar bar-calm">
            Recipe Description
          </div>
          <div class="item item-text-wrap">
            {{recipe.description}}

          </div>
        </div>
      </ion-slide>
      <!--<ion-slide>
  <div class="card" style="min-height:300px">
    <div class="item item-divider bar bar-royal">
      Recipe Author
    </div>
    <div class="item item-text-wrap">
      {{recipe.author}}
    </div>
  </div>
</ion-slide>
<ion-slide>
  <div class="card" style="min-height:300px">
    <div class="item item-divider bar bar-balanced">
      Recipe Published On
    </div>
    <div class="item item-text-wrap">
      {{recipe.published}}
    </div>
  </div>
</ion-slide>-->

    </ion-slide-box>
  </ion-content>
  <rf-footer-display></rf-footer-display>
</ion-view>
