<ion-view title="Edit Recipe">
	<ion-content>
		<div class="paddingclass">
			<label class="item-input inputstyle">
				<input type="text" placeholder="Recipe Title" ng-model="recipe.title">
			</label>
			<label class="item-input inputstyle">
				<input type="text" placeholder="Video Id" ng-model="recipe.videoId">
			</label>
			<label class="inputstyle item-input">
				<textarea placeholder="Recipe Notes" rows="5" ng-model="recipe.recipeNotes" style="font-size: 18px;"></textarea>
				</textarea>
			</label>
			<br>
			<button class="button button-block curvebutton button-color" ng-click="updateRecipe(recipe)">
				Update
			</button>
		</div>
	</ion-content>
</ion-view>