<!--<ion-view class="forgot-password-view" hide-nav-bar="true">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card forgot-password-container">
          <form name="forgot_password_form" class="" novalidate>
            <div class="item item-body">
              <label class="item item-input">
                <input type="email" placeholder="Email" name="user_email" ng-model="user.email" required>
              </label>
            </div>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-click="recoverPassword()" ng-disabled="forgot_password_form.$invalid">
                Recover it
              </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <button class="log-in button button-small button-clear button-light" ui-sref="login">
            Log In
          </button>
          <button class="sign-up button button-small button-clear button-light" ui-sref="signup">
            Sign Up
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>-->



<ion-modal-view class="forgot-password-view" hide-nav-bar="true" cache-view="false">
  <ion-header-bar class="bar bar-assertive">
    <h1 class="title">Forgot Password</h1>
    <button class="button button-icon ion-close" style="float:right" ng-click="closeModal(3)"></button>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="card">
      <div class="item item-text-wrap">
        We are working on this feature. It will be available in next version.
      </div>
    </div>
  </ion-content>
</ion-modal-view>
