<ion-view class="forgot-password-view" hide-nav-bar="true">
  <ion-header-bar class="bar bar-assertive">
    <i class="ion-arrow-left-c" style="font-size:25px;color:#fff;padding-top:5px;padding-left:10px" ng-click="goBack()"></i>
    <h1 class="title">Recover Password</h1>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="row" ng-hide="sucessfullMsg">
      <div class="col col-center">
        <div class="card forgot-password-container">
          <form name="forgot_password_form" class="" novalidate>
            <div class="item item-body">
              <label class="item item-input">
                <input type="email" placeholder="Email" name="user_email" ng-model="user.email" required>
              </label>
            </div>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-click="recoverPassword()" ng-disabled="forgot_password_form.$invalid">
                Recover it
              </button>
            </div>
          </form>
        </div>

      </div>
    </div>
    <div style="margin-top: 10px;padding:5px 10px">
      <strong style="color:green;font-size:20px">{{sucessfullMsg}}</strong>
    </div>
  </ion-content>
</ion-view>
