<ion-view ng-init="getGroceryLists()" cache-view="true">

  <div ui-view="groceryContent"></div>
  <ion-nav-title>
    <span style="color:white">Grocery Lists</span>
  </ion-nav-title>
  <ion-content scroll="true">
    <div class="">
      <img ng-src="img/grocery.jpg" height="180px" width="100%" />
    </div>
    <div class="list card" ng-show="grocerylists.length === 0">
      Currently you have not created any Grocery Lists, Why don't you start create
      <br>
      <br>
      <center>
        <a class="round-button " ng-click="showAddGroceryForm()"><i class="ion-plus-round" style="color:white"> </i></a>
      </center>
    </div>
    <div id="grocery-lists">
      <ion-list ng-hide="grocerylists.length === 0" show-delete="triggerOn" scroll="true">
        <ion-item ng-repeat="grocery in grocerylists" class="item-remove-animate item-icon-right scroll-content itemBG" ui-sref="app.groceryItems({groceryId:grocery._id,groceryName:grocery.name})">
          <div class="row responsive">
            <div class="col active"> <b> {{grocery.name}} </b>
            </div>
            <i class="icon ion-chevron-right" style="font-size:30px"></i>
          </div>
          <ion-option-button ng-click="editGrocery(grocery)">
            <i class="icon ion-edit" style="font-size:30px;color:#70B8FF"></i>
          </ion-option-button>
          <ion-option-button ng-click="deleteGrocery(grocery,$index)">
            <i class="icon ion-close-circled" style="font-size:30px;color:#e42012"></i>
          </ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <div class="float-button corner" ng-hide="grocerylists.length === 0">
    <a class="round-button " ng-click="showAddGroceryForm()"><i class="ion-plus-round" style="color:white"> </i></a>
  </div>
  <rf-footer-display></rf-footer-display>
</ion-view>
