<ion-view ng-init="getgrocerylists()" cache-view="false">

  <div ui-view="groceryContent"></div>
  <ion-nav-title>
    <span style="color:white">Grocery Lists</span>
  </ion-nav-title>
  <ion-content>
    <div class="">
      <img ng-src="img/grocery.jpg" height="180px" width="100%" />
    </div>
    <div class="list card" ng-show="grocerylists.length === 0">
      Currently you have not created any Grocery Lists, Why don't you start create
      <br>
      <br>
      <center>
        <a class="round-button " ng-click="addgrocery()"><i class="ion-plus-round" style="color:white"> </i></a>
      </center>
    </div>
    <ion-list ng-hide="grocerylists.length === 0" show-delete="triggerOn" scroll="true">
      <!-- <ion-item ng-repeat="grocery in grocerylists" class="item-remove-animate item-icon-right scroll-content itemBG" ui-sref="app.singlegrocery({groceryId:grocery._id,groceryName:grocery.name})">-->
      <ion-item ng-repeat="grocery in grocerylists" class="item-remove-animate item-icon-right scroll-content itemBG" ui-sref="app.groceryone({groceryId:grocery._id,groceryName:grocery.name})">
        <div class="row responsive">
          <div class="col active"> <b> {{grocery.name}} </b>
          </div>
        </div>
        <ion-option-button class="button-calm" ng-click="grocerydelete($index)">
          Delete
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="editgrocery(grocery)">
          Edit
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="float-button corner" ng-hide="grocerylists.length === 0">
    <a class="round-button " ng-click="addgrocery()"><i class="ion-plus-round" style="color:white"> </i></a>
  </div>
  <rf-footer-display></rf-footer-display>
</ion-view>
