<style>
.grocery-view
  {
   height:90% !important;
    width:90% !important;
    top:25% !important;
    bottom:5% !important;
    left:5% !important;
    right:5% !important;
    background: rgba(0,0,0,0);
  }
  .grocery_form
  {
   background-color:#E6E6E6 !important;
  }
</style>


<ion-modal-view class="grocery-view" hide-nav-bar="true" cache-view="false">
  <ion-header-bar class="bar bar-assertive">
    <h1 class="title">Create Grocery</h1>
    <button class="button button-icon ion-close" style="float:right" ng-click="closeModal(2)"></button>
  </ion-header-bar>
  <ion-content scroll="false" >
    <div class="row grocery_form">
      <div class="col col-center">
        <div class="card sign-up-container">
          <form name="grocery_form"  novalidate>
            <div class="item item-body">
              <label class="item item-input">
                <input type="text" placeholder="Grocery Name" name="user_fname" ng-model="grocery.name" required>
              </label>

            </div>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-click="addgrocerylist()" ng-disabled="grocery_form.$invalid">
                Create Grocery
              </button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </ion-content>
</ion-modal-view>
