<ion-modal-view class="grocery-view" hide-nav-bar="true" cache-view="false">
  <ion-header-bar class="bar bar-assertive">
    <h3 style="color:white" >{{formName}}</h3>
    <button class="button button-icon ion-close" style="float:right" ng-click="closeModal()"></button>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="row grocery_form">
      <div class="col col-center">
        <div class="card sign-up-container">
          <form name="grocery_form" ng-cloak novalidate autocomplete="off" cache-view="false">
            <div class="item item-body">
              <label class="item item-input">
                <input type="text" placeholder="Grocery Name" ng-model="grocery.name" required autofocus>
              </label>

            </div>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-click="addGroceryList(grocery)" ng-disabled="grocery_form.$invalid" ng-show="formName === 'Create Grocery List'">
                {{formName}}
              </button>
              <button type="submit" class="button button-positive button-block" ng-click="updateGrocery(grocery,$index)" ng-disabled="grocery_form.$invalid" ng-show="formName === 'Update Grocery List'">
                {{formName}}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
