<ion-modal-view class="grocery-view" hide-nav-bar="true" cache-view="false">
  <ion-header-bar class="bar bar-assertive">
    <h1 class="title">Create Items</h1>
    <button class="button button-icon ion-close" style="float:right" ng-click="closeModal(1)"></button>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="row grocery_form">
      <div class="col col-center">
        <div class="card sign-up-container">
          <form name="grocery_form" novalidate>
            <div class="item item-body">
              <label class="item item-input" focus-me>
                <input type="text" placeholder="Item Name" ng-model="item" autofocus required>
              </label>
            </div>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-click="createItems()" ng-disabled="grocery_form.$invalid">
                Create Grocery item
              </button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </ion-content>
</ion-modal-view>
