<ion-view ng-init="getGroceryItems()" title="{{groceryName}}" cache-view="false">
  <ion-content scroll="true">
    <div class="list">
      <form class="item item-input-inset" name="grocery_form" novalidate>
        <label class="item-input-wrapper" focus-me>
          <input type="text" placeholder=" Create Item" ng-model="item.name" autofocus required>
        </label>
        <button class="button button-small button-positive" ng-click="createItem()" ng-disabled="grocery_form.$invalid">
          Create
        </button>
      </form>
      <div class="card" ng-hide="singlegrocerys.length === 0">
        <ul id="filters">
          <li>
            <a ng-class="{selected: statusFilter.state === ''} " ng-click="allgrocery()">All</a>
          </li>
          <li>
            <a ng-class="{selected: statusFilter.state === false}" ng-click="activegrocery()">Active</a>
          </li>
          <li>
            <a ng-class="{selected: statusFilter.state === true}" ng-click="donegrocery()">Completed</a>
          </li>
        </ul>
      </div>
      <div class="card" ng-show="singlegrocerys.length === 0">
        <div class="item item-text-wrap">
          Items yet to be create.
        </div>
      </div>
      <div class="row item-style" ng-repeat="item in singlegrocerys | filter:statusFilter" ng-hide="singlegrocerys.length === 0">
        <div class="col col-10 checkbox checkbox-calm">
          <input type="checkbox" ng-model="item.state" ng-click="checkBoxUpdateItemState(item,$index)">
        </div>
        <div class="col col-90">
          <a class="col col-90" editable-text="item.name" onaftersave="updateItem($index,item)" class="active-{{item.active}}">
            <span class="active active-{{item.state}}">{{item.name}}</span>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
  <rf-footer-display></rf-footer-display>
</ion-view>
