<div class="modal">
	<ion-header-bar align-title="center" no-tap-scroll="true" style="background-color: red;">
		<h1 class="title" style="color: white">Visual</h1>
		<button class="button button-icon ion-close" ng-click="closeModal()"></button>
	</ion-header-bar>
	<div ng-if="showModal">

		<ion-content>
			<p>Hello! modal window</p>

		</ion-content>
	</div>
</div>
<!--<ion-view>
	<ion-content>
		<div class="modal transparent1">

			<div class="card">
				<i class="icon ion-close-circled close-modal1" ng-click="closeModal()"></i>
				<div class="item item-divider">
					Header 1
				</div>
				<div class="item item-text-wrap">
					Hello from Modal 1
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>-->
