<ion-view>
	<ion-nav-title>
		<span style="color:white">My Fav.Recipes
    </span>
	</ion-nav-title>

	<ion-content>
		<div ng-repeat="item in recipes" ng-show="authentication">
			<div class="card">
				<div class="item item-divider" style="text-align:center">
					{{item.title}}
				</div>
				<div ng-class="item._id === selectedIndex ? 'fullHeight' : 'dftHeight'">{{item.description}}
				</div>
				<i ng-class="item._id === selectedIndex ? 'ion ion-chevron-up' : 'ion ion-chevron-down'" style="color:Grey;font-size:30px;float:right" ng-click="changeClass(item)"></i>
				<div class="row">
					<div class="col"><i class="ion ion-thumbsup" style="color:green;font-size:30px"></i>
						<br>{{item.likes}}</div>
					<div class="col"><i class="ion ion-thumbsdown" style="color:red;font-size:30px"></i>
						<br>{{item.dislikes}}</div>
					<div class="col"><i class="ion ion-eye" style="color:grey;font-size:30px"></i>
						<br>{{item.views}}</div>
					<div class="col"><i class="ion ion-heart" style="color:PeachPuff;font-size:30px"></i>
					</div>
					<div class="col"><i class="ion ion-android-share-alt" style="color:Coral;font-size:30px"></i>
					</div>
					<div class="col"><a style="font-size:20px;text-decoration:none" ui-sref="app.slides({recipeId:item._id})">More </a>
					</div>
				</div>
			</div>
		</div>
		<div ng-hide="authentication">{{notLoggedIn}}</div>

		<ion-infinite-scroll ng-if="!noMoreItemsAvailable" distance="10%" on-infinite="loadMore()"></ion-infinite-scroll>
	</ion-content>
</ion-view>
