<ion-view cache-view="true">
  <ion-nav-title>
    <span style="color:white">All Categories
    </span>
  </ion-nav-title>
  <ion-content>
    <div ng-repeat="item in categories" class="rf-category-display">
      <div ui-sref="app.subCats({catId: item.catId,catName: item.displayName})" ng-show="item.subCatsExist">
        <div class="img-styles">
          <img ng-src="http://www.reciflix.com/modules/recipes/img/v2/cats-img/{{item.catId}}.jpg" width="100%" />
          <center class="newCatgyName">{{item.displayName}}</center>
        </div>
      </div>
      <!--<div ui-sref="app.categoriesVideos({categorieName:item.catId,catName:item.displayName})" ng-hide="item.subCatsExist">-->
      <div ui-sref="app.subCatVideos({subCatId:item.catId,subCatName:item.displayName})" ng-hide="item.subCatsExist">
        <div class="img-styles">
          <img ng-src="http://www.reciflix.com/modules/recipes/img/v2/cats-img/{{item.catId}}.jpg" width="100%" />
          <center class="newCatgyName">{{item.displayName}}</center>
        </div>
      </div>
    </div>
    <div class="card" ng-show="categories.length === 0">
      <div class="item item-text-wrap">
        There are no Categories currently, once Admin creates on the www.reciflix.com, you can see here.
      </div>
    </div>
    <ion-infinite-scroll immediate-check="false" ng-if="!noMoreItemsAvailable" distance="5%" on-infinite="loadMore()"></ion-infinite-scroll>
  </ion-content>
  <rf-footer-display></rf-footer-display>
</ion-view>
