<ion-view cache-view="true">
  <ion-nav-title>
    <span style="color:white">{{currentStateName}}</span>
  </ion-nav-title>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap" ng-show="currentStateName === 'About ReciFlix'">
        ReciFlix is a quick, convenient and easy way to search a recipe online and instantly watch it.
        <br>
        <br> Add a recipe to your favorites to be able to access the same recipe anytime from any device conveniently.
        <br>
        <br> Browse the categories or set preferences to find a matching recipe quickly. You will be able to like or add to your favorites or share with friends and family all from one app with quick and easy steps.

        <br>
        <br/> Visit us at :
        <a href="#" onclick="window.open('http://www.reciflix.com', '_system', 'location=yes'); return false;">
          <strong>www.reciflix.com</strong>
        </a>
      </div>
    </div>
    <div ng-hide="authentication" class="card">

      <ion-item class="item-icon-left" ui-sref="walkthrough">
        <div>
          <i class="icon ion-log-in"></i>
          <h2 class="menu-text">Login or Create Account</h2>
        </div>
      </ion-item>

    </div>
  </ion-content>
  <rf-footer-display ng-show="authentication"></rf-footer-display>
</ion-view>