<ion-view ng-init="initialQueryRecipes()">
	<ion-nav-title>
		<span style="color:white">Recipes Under Category
    </span>
	</ion-nav-title>

	<ion-content has-header="true">
		<div ng-repeat="item in recipes">
			<div class="card">
				<div class="item item-divider" style="text-align:center">
					{{item.title}}
				</div>
				<div ng-class="item._id === selectedIndex ? 'fullHeight' : 'dftHeight'">{{item.description}}
				</div>
				<i ng-class="item._id === selectedIndex ? 'ion ion-chevron-up' : 'ion ion-chevron-down'" style="color:Grey;font-size:30px;float:right" ng-click="changeClass(item)"></i>
				<div class="row">
					<div class="col"><i class="ion ion-thumbsup" style="color:green;font-size:30px"></i>
						<br>{{item.ytlikes}}</div>
					<div class="col"><i class="ion ion-thumbsdown" style="color:red;font-size:30px"></i>
						<br>{{item.dislikes}}</div>
					<div class="col"><i class="ion ion-eye" style="color:grey;font-size:30px"></i>
						<br>{{item.views}}</div>
					<!--<div class="col"><i class="ion ion-heart" style="color:PeachPuff;font-size:30px"></i>
					</div>-->
					<div class="col">
						<!--<i ng-class="item._id === selectedRecipe ? 'icon ion-ios-heart' : 'icon ion-ios-heart-outline'" style="color:PeachPuff;font-size:30px"></i>-->
						<span my-favorite-icon favorite=item></span>
					</div>

					<div class="col" ng-click="sharePost()"><i class="ion ion-android-share-alt" style="color:Coral;font-size:30px"></i>
					</div>
					<div class="col"><a style="font-size:20px;text-decoration:none" ui-sref="app.slides({recipeId:item._id})">More </a>
					</div>
				</div>
			</div>
		</div>
		<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()"></ion-infinite-scroll>
	</ion-content>

	<ion-footer-bar align-title="left" class="bar-assertive">
		<a class="title" ui-sref="app.myFav">
			<i class="icon ion-ios-briefcase" style="color:white;font-size:30px"></i>
		</a>
	</ion-footer-bar>
</ion-view>
