<ion-view cache-view="false" ng-controller="AppCtrl">
  <ion-nav-title>
    <span style="color:white">Search Recipes
    </span>
  </ion-nav-title>
  <ion-content>
    <div class="row" style="margin-top:20px">
      <div class="col col-90">
        <input type="text" placeholder="Enter Search Keywords" ng-model="search.value" style="border:1px solid #eee" size="40">
        <button ng-if="search.value" class="button button-icon ion-android-close input-button" ng-click="search.value =''">
        </button>
      </div>
      <div class="col col-10">
        <i class="icon ion-search" style="font-size:30px;" ui-sref="app.searchedRecipes({searchQuery:search.value})" ng-show="search.value"></i>
        <i class="icon ion-search" style="font-size:30px;color:#eee" ng-hide="search.value"></i>
      </div>
    </div>
  </ion-content>
  <rf-footer-display></rf-footer-display>
</ion-view>
