<ion-view cache-view="true">
  <ion-nav-title>
    <span style="color:white">Share ReciFlix</span>
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-left" ng-click="shareFb()">
        <i class="icon ion-social-facebook" style="color:#3B5998"></i>
        <h2 class="menu-text">Facebook</h2>
      </ion-item>
      <ion-item class="item-icon-left" ng-click="shareWhatsApp()">
        <i class="icon ion-social-whatsapp" style="color:#64D448"></i>
        <h2 class="menu-text">WhatsApp</h2>
      </ion-item>
      <ion-item class="item-icon-left" ng-click="shareGPlus()">
        <i class="icon ion-social-googleplus" style="color:#D14836"></i>
        <h2 class="menu-text">Google+</h2>
      </ion-item>
      <ion-item class="item-icon-left" ng-click="shareTw()">
        <i class="icon ion-social-twitter" style="color:#4099FF"></i>
        <h2 class="menu-text">Twitter</h2>
      </ion-item>
      <ion-item class="item-icon-left" ng-click="shareEmail()">
        <i class="icon ion-email" style="color:#FFCC00"></i>
        <h2 class="menu-text">Email</h2>
      </ion-item>
    </ion-list>
  </ion-content>
  <rf-footer-display></rf-footer-display>
</ion-view>
