<ion-view>
	<ion-nav-title>
		<span>Recipe Video </span>
	</ion-nav-title>
	<ion-nav-buttons side="secondary">
		<button class="button button-assertive button-icon ion-android-contact" ng-click="openPopover($event)">
		</button>
	</ion-nav-buttons>
	<ion-content>
		<span>List of Recipes</span>
		<ion-list>
			<ion-item ng-repeat="item in recipes" item="item">
				<div my-youtube code=item.videoId></div>

				<div class="item tabs tabs-secondary tabs-icon-left">
					<a class="tab-item" ng-click="sendMail()">
						<i class="icon ion-email"></i> Email
					</a>
					<a class="tab-item" ng-click="sharePost()">
						<i class="icon ion-share"></i> Share
					</a>
				</div>

			</ion-item>
		</ion-list>
		<!--<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()"></ion-infinite-scroll>-->
	</ion-content>
</ion-view>
