<ion-view>
	<ion-nav-title>
		<span style="color:white">Recipe Video </span>
	</ion-nav-title>
	<ion-nav-buttons side="secondary">
	</ion-nav-buttons>
	<ion-content>
		<span>List of Recipes</span>
		<ion-list>
			<ion-item item="item">
				<div my-youtube code=videoId></div>

				<div class="item tabs tabs-secondary tabs-icon-left">
					<a class="tab-item" ng-click="sendMail()">
						<i class="icon ion-email"></i> Email
					</a>
					<a class="tab-item" ng-click="sharePost()">
						<i class="icon ion-share"></i> Share
					</a>
				</div>

			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
