<ion-view hide-back-button="true">
	<ion-nav-title>
		<span>List of Recipes </span>
	</ion-nav-title>
	<ion-nav-buttons side="secondary">
      <a class="button button-assertive button-icon ion-search" ng-click="hidecard()" href="#/showRecipes">
		</a>
		<a class="button button-assertive button-icon ion-plus" ng-click="hidecard()" href="#/newRecipe/{{userId}}">
		</a>
		<button class="button button-assertive button-icon ion-android-contact" ng-click="openPopover($event)">
		</button>
	</ion-nav-buttons>
	<ion-content>
      <span>List of Recipes</span>
		<ion-list>
            <ion-item ng-repeat="item in recipes" item="item">
	           <div my-youtube code=item.videoId></div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
