<ion-side-menus cache-view="false">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar bar-assertive" animation="nav-title-slide-ios7">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-android-contact" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-menu">
    <ion-content>
      <ion-list ng-show="authentication">
        <ion-item class="heading-item item item-avatar item-icon-right" nav-clear menu-close ui-sref=".profile">
          <img ng-src={{userProfileImageUrl}}>
          <h2 class="greeting">Hi {{authentication.firstName}}</h2>
          <p class="message">Welcome back</p>
          <i class="icon ion-edit" style="font-size:30px"></i>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.allCategories">
          <i class="icon icon-reciflix_icon"></i>
          <h2 class="menu-text">All Categories</h2>
        </ion-item>
        <!--<ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.newCats" data-ng-show="authentication.roles.indexOf('admin') > -1 || authentication.roles.indexOf('superuser') > -1">
  <i class="icon icon-reciflix_icon"></i>
  <h2 class="menu-text">New Categories</h2>
</ion-item>-->
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.myFav">
          <i class="icon ion-heart"></i>
          <h2 class="menu-text">My Favorites</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.grocery">
          <i class="icon ion-document-text"></i>
          <h2 class="menu-text">Grocery Lists</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.shareApp">
          <i class="icon ion-share"></i>
          <h2 class="menu-text">Share ReciFlix</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.aboutApp">
          <i class="icon ion-information"></i>
          <h2 class="menu-text">About ReciFlix</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ng-click="signout()">
          <div ng-show="authentication"><i class="icon ion-log-out"></i>
            <h2 class="menu-text" style="color:grey">Log Out</h2>
          </div>
        </ion-item>
      </ion-list>
      <ion-list ng-hide="authentication">
        <ion-item nav-clear menu-close class="item" style="background-color:#606060">
          <div align="middle"><img src="img/recipeImgs/reciflix_icon.png" width="40%" /> </div>
          <h2 class="menu-text" align="center">Version : {{appVersion}}</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.aboutApp">
          <i class="icon ion-information-circled"></i>
          <h2 class="menu-text">About ReciFlix</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="landing">
          <i class="icon ion-log-in"></i>
          <h2 class="menu-text">Log In or Sign Up</h2>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
