<ion-side-menus cache-view="false">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-android-contact" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
    <ion-content>
      <ion-list ng-show="authentication">
        <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.profile">
          <!--
<img ng-src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg" ng-show="authentication.provider === 'local'">-->
          <img ng-src={{fbUserProfileImageUrl}}>
          <h2 class="greeting">Hi {{authentication.firstName}}</h2>
          <p class="message">Welcome back</p>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.allCategories">
          <i class="icon icon-reciflix_icon"></i>
          <h2 class="menu-text">All Categories</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.myFav">
          <i class="icon ion-heart"></i>
          <h2 class="menu-text">My Favourites</h2>
        </ion-item>
        <!--<ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.featuredRecipes({name:'Featured Recipes'})">
          <i class="icon ion-fork"></i>
          <h2 class="menu-text">Featured Recipes</h2>
        </ion-item>-->
        <!-- <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.groceryList({name:'Grocery List'})">
          <i class="icon ion-document-text"></i>
          <h2 class="menu-text">Grocery List</h2>
        </ion-item>-->
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.grocery">
          <i class="icon ion-document-text"></i>
          <h2 class="menu-text">Grocery Lists</h2>
        </ion-item>
        <!--<ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.myCalendarPlan({name:'My Meal Plan'})">
          <i class="icon ion-calendar"></i>
          <h2 class="menu-text">My Meal Plan</h2>
        </ion-item>-->
        <!--<ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.settings({name:'Preferences'})">
          <i class="icon ion-gear-a"></i>
          <h2 class="menu-text">Preferences</h2>
        </ion-item>-->
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.shareApp">
          <i class="icon ion-share"></i>
          <h2 class="menu-text">Share ReciFlix</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ng-click="signout()">
          <div ng-show="authentication"><i class="icon ion-log-out"></i>
            <h2 class="menu-text" style="color:grey">SignOut</h2>
          </div>
        </ion-item>

      </ion-list>
      <ion-list ng-hide="authentication">
        <ion-item nav-clear menu-close class="item" style="background-color:#606060">
          <div align="middle"><img src="img/recipeImgs/reciflix_icon.png" width="40%" /> </div>
        </ion-item>

        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.myCalendarPlan({name:'About ReciFlix'})">
          <h2 class="menu-text">About ReciFlix</h2>
        </ion-item>

        <!-- <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.myCalendarPlan({name:'Rate this App'})">
          <h2 class="menu-text">Rate this App</h2>
        </ion-item>-->

        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.myCalendarPlan({name:'Why Signup or Login ?'})">
          <h2 class="menu-text">Why Signup or Login ?</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="walkthrough">
          <div>
            <i class="icon ion-log-in"></i>
            <h2 class="menu-text">Login or Create Account</h2>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
