<ion-view ng-init="singleRecipe()" cache-view="false">
  <ion-nav-title>
    <span style="color:white">Recipe Info
    </span>
  </ion-nav-title>
  <ion-content has-header="true">
    <div class="card">
      <div class="item item-divider" style="text-align:center">
        RECIPE: {{recipe.title}}
      </div>
      <center>
        <img ng-src="{{recipe.images.mq}}" height="180px" ng-click="playRecipeVideo(recipe)" />
        <div class="rf-play-icon1" ng-click="playRecipeVideo(recipe)"></div>
      </center>
      <div class="row">
        <div class="col"><span my-like-icon likes=recipe></span>
          <br>{{recipe.ytlikes + recipe.applikes | numeral}}</div>
        <div class="col"><i class="ion ion-eye" style="color:grey;font-size:30px"></i>
          <br>{{recipe.views | numeral}}</div>
        <div class="col">
          <span style="padding-left:2px" my-favorite-icon favorite=recipe></span>
        </div>
        <div class="col"><i class="ion ion-play" style="color:#00CCA3;font-size:30px;padding-left:3px" ng-click="playRecipeVideo(recipe)"></i>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider bar bar-calm">
        Recipe Description
        <i ng-class="recipe._id === selectedIndex ? 'ion ion-chevron-up' : 'ion ion-chevron-down'" style="color:Grey;font-size:30px;float:right" ng-click="changeClass(recipe)"></i>
      </div>
      <div class="item item-text-wrap" ng-class="recipe._id === selectedIndex ? 'fullHeight' : 'dftHeight'">
        {{recipe.description}}
      </div>
    </div>
  </ion-content>
  <rf-footer-display></rf-footer-display>
</ion-view>
