<style>
  .tab-item.tab-item-active,
  .tab-item.active,
  .tab-item.activated {
    opacity: 1;
    background-color: #FF7043 !important;
  }
</style>






<ion-tabs class=" tabs-default tabs-top" ng-hide="singlegrocerys.items.length === 0">

  <ion-tab title="All" ui-sref="app.singlegrocery.all" style="font-size:200%">
    <ion-nav-view name="tab-all"></ion-nav-view>
  </ion-tab>

  <ion-tab title="To Buy" ui-sref="app.singlegrocery.buy" style="font-size:200%">
    <ion-nav-view name="tab-buy"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Buyed" ui-sref="app.singlegrocery.buyed" style="font-size:200%">
    <ion-nav-view name="tab-buyed"></ion-nav-view>
  </ion-tab>

</ion-tabs>
