<ion-view cache-view="true">
  <ion-nav-title>
    <span style="color:white">{{subcategories.displayName}}
    </span>
  </ion-nav-title>
  <ion-content has-header="true" ng-init="subCats()">
    <div class="row cat-header" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
      <div class="col" ng-click="onSwipeRight()" style="background-color: rgba(0,0,0,0.5);"><i class="ion-chevron-left subcat-chevron" style="float: left;"> </i>
      </div>
      <div class="col col-center col-50">
        <img ng-src="http://www.reciflix.com/modules/recipes/img/v2/cats-img/{{subcategories.catId}}.jpg" width="100%" class="img-thumbnail" />
      </div>
      <div class="col col-center col-33">
        <center style="color:#FFF;font-size: 15px;">{{subcategories.recipeCount}} Recipes</center>
        <center><span class="small-info">in</span>
          <center><span class="small-info">{{subcategories.subCats.length}} Sub Categories</span>
          </center>
      </div>
      <div class="col" ng-click="onSwipeLeft()" style="background-color: rgba(0,0,0,0.5);"><i class="ion-chevron-right subcat-chevron" style="float: right;"> </i>
      </div>

    </div>

    <div ng-repeat="item in subcategories.subCats" class="rf-category-display" ng-hide="subcategories.subCats.length === 0">
      <div ui-sref="app.subCatVideos({subCatId:item.subCatId,subCatName:item.displayName})" id="subcats-tiles">
        <!--<div class="img-styles">
  <img ng-src="http://www.reciflix.com/modules/recipes/img/v2/subcats-img/{{item.subCatId}}.jpg" width="100%" />
  <center class="newCatgyName">{{item.displayName}}</center>
  <div class="title-text">{{item.displayName}}</div>
</div>-->


        <div class="img-styles">
          <!--<img ng-src="http://www.reciflix.com/modules/recipes/img/v2/subcats-img/{{item.subCatId}}.jpg" class="cat-img" />-->
          <img ng-src="https://s3.amazonaws.com/NewRFSubCats/{{item.imageName}}.jpg" class="cat-img">
          <!--<div class="caption-box">{{item.displayName}}</div>-->
          <center><span class="caption-box">{{item.displayName}}</span>
        </div>


      </div>




    </div>







    <div class="card" ng-show="subcategories.subCats.length === 0">
      <div class="item item-text-wrap">
        There are no sub categories under {{subcategories.displayName}}. Please click below to load recipes directly.
        <center>
          <a class="round-button" ui-sref="app.categoriesVideos({categorieName:subcategories.catId,catName:subcategories.displayName})"><i class="ion-android-restaurant" style="color:white"> </i></a>
        </center>
      </div>
    </div>
  </ion-content>
  <rf-footer-display></rf-footer-display>
</ion-view>
