<ion-view cache-view="true">
  <ion-nav-title>
    <span style="color:white">User Not LoggedIn</span>
  </ion-nav-title>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">

        User is not logged in, Please login or create account to use Favourites, Likes, Preferences and several other account specific features.
        <br/>
        <br/>

        <div ui-sref="walkthrough" align="middle">
          <i class="icon ion-log-in"></i>
          <span class="menu-text" style="color:green">Login or Create Account</span>
        </div>

      </div>
    </div>
  </ion-content>
  <rf-footer-display></rf-footer-display>
</ion-view>
