<ion-view cache-view="true">
  <ion-nav-title>
    <span style="color:white">User Not LoggedIn</span>
  </ion-nav-title>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        You are not logged in, Please login or create account to use Favourites, Likes, Preferences and several other account specific features.
      </div>
    </div>
    <div class="card">
      <ion-item class="item-icon-left" ui-sref="landing">
        <div>
          <i class="icon ion-log-in"></i>
          <h2 class="menu-text">Login or Create Account</h2>
        </div>
      </ion-item>
    </div>
  </ion-content>
  <rf-footer-display></rf-footer-display>
</ion-view>
