<ion-view class="walkthrough-view" hide-nav-bar="true" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="col col-center">
        <img ng-src="img/WalkthroughCtrl.png">
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-center">
        <button class="login button button-block button-stable" ng-click="login()">
          Log In
        </button>
        <button class="sign-up button button-block button-stable" ng-click="signup()">
          Sign Up
        </button>
        <button class="login button button-stable" style="float:right" ng-click="skip()">
          Skip For Now
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
