<ion-view class="walkthrough-view" hide-nav-bar="true" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="col col-center">
        <img width="300px" ng-src="img/reciflix-logo_400.png">
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-center">
        <button class="login button button-block button-positive" ng-click="fbLogin()">
          <i style="color: white; font-size: 32px;" class="ion ion-social-facebook">&nbsp;&nbsp;</i> connect with facebook</button>
        <button class="button button-block button-assertive" style="background-color:rgba(255,0,0,0.3);" ng-click="googleLogin()">
          <i style="color: white; font-size: 32px;" class="ion ion-social-googleplus">&nbsp;&nbsp;</i> connect with Google+</button>
        <button class="login button button-block button-stable" ui-sref="app.myCalendarPlan({name:'About ReciFlix'})">
          About Reciflix
        </button>
        <button class="login button button-block button-stable" ng-click="login()">
  Log In
</button>
        <button class="sign-up button button-block button-stable" ng-click="signup()">
  Sign Up
</button>
<button class="login button button-stable" style="float:right" ng-click="skip()">

  Skip For Now
</button>
      </div>
    </div>
  </ion-content>
</ion-view>
