<ion-footer-bar align-title="left" class="bar-assertive">
  <div class="row footer-icons-color">
    <div class="col col-20 col-center" ui-sref="app.allCategories" nav-direction="back">
      <i class="icon icon-reciflix_icon footer-rf-icon"></i>
    </div>
    <div class="col col-20 col-offset-20 col-center" ui-sref="app.search">
      <i class="icon ion-search footer-search-icon"></i>
    </div>
    <div class="col col-30 col-offset-20 col-center" ui-sref="app.myFav">
      <i class="icon icon-my_fav_icon footer-fav-icon"></i>
    </div>
  </div>
</ion-footer-bar>
