<ion-footer-bar align-title="left" class="bar-assertive">
  <div class="buttons button-clear" style="padding-left:20px" ui-sref="app.allCategories" nav-direction="back">
    <i class="icon ion-home" style="color:white;font-size:30px"></i>
  </div>
  <div class="buttons button-clear" ui-sref="app.search" style="padding-left:110px">
    <i class="icon ion-search" style="color:white;font-size:30px"></i>
  </div>
  <div class="buttons button-clear" ui-sref="app.myFav" style="padding-left:110px">
    <i class="icon ion-ios-briefcase" style="color:white;font-size:30px"></i>
  </div>
</ion-footer-bar>
