<ion-footer-bar align-title="left" class="bar-assertive">
  <div class="row">
    <div class="col col-20 col-center" ui-sref="app.allCategories" nav-direction="back">
      <i class="icon icon-chef_cap" style="color:white;font-size:30px;padding-left:10px"></i>
    </div>
    <div class="col col-20 col-offset-20 col-center" ui-sref="app.search">
      <i class="icon ion-search" style="color:white;font-size:30px;padding-left:10px"></i>
    </div>
    <div class="col col-30 col-offset-20 col-center" ui-sref="app.myFav">
      <i class="icon icon-brifecase_filled_heart" style="color:white;font-size:30px;padding-left:20px"></i>
    </div>
  </div>
</ion-footer-bar>
