/*Custom Icons*/

@font-face {
  font-family: 'reciflix_icons';
  src: url('fonts/reciflix_icons.eot?9fu3b3');
  src: url('fonts/reciflix_icons.eot?#iefix9fu3b3') format('embedded-opentype'), url('fonts/reciflix_icons.ttf?9fu3b3') format('truetype'), url('fonts/reciflix_icons.woff?9fu3b3') format('woff'), url('fonts/reciflix_icons.svg?9fu3b3#reciflix_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'reciflix_icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reciflix_icon:before {
  content: "\e601";
}

.icon-my_fav_icon:before {
  content: "\e600";
}

div.dftHeight {
  height: 108px;
}

.fullHeight {
  height: 100%;
}

div.dftHeightSingle {
  height: 200px;
}

.fullHeightSingle {
  height: 100%;
}

.loading {
  background-color: #FF6666 !important;
}

.spinner.light svg {
  stroke: #fff !important;
  fill: #fff !important;
}

.inputstyle {
  border-bottom: 1px solid #EAECED !important;
}

.item-input {
  padding-left: 1px !important;
  padding-top: 10px !important;
  width: 100%;
}

.logo {
  padding-top: 20px;
}

.apptitle {
  margin-top: 20px;
}

.curvebutton {
  border-radius: 5px !important;
}

.signupbutton {
  margin-top: 10px;
  color: #FF6699;
}

.forgotpswd {
  margin-top: 10px;
  margin-left: 60%;
  opacity: 0.5;
}

.alternative-actions .button {
  opacity: 0.6 !important;
  color: #e42012 !important;
  font-weight: bold;
}

.alternative-actions:hover .button:hover {
  opacity: 1.0 !important;
  color: #e42012 !important;
}

.thumbsup-selected {
  color: #FF6666;
  font-size: 30px;
}

.titlestyle {
  font-family: Source Sans Pro !important;
  font-size: 54px;
  color: #FFD1E0;
  padding: 10px;
}

.paddingclass {
  padding-left: 30px;
  padding-right: 30px;
}

.titlesignup {
  font-family: Source Sans Pro !important;
  font-size: 50px;
  margin-top: 20px;
  color: #2891F7;
}

.impandurgenticons {
  float: right;
  margin-top: 30px;
  margin-right: 30px;
}

.button-color {
  color: #FF6699;
  background-color: white;
  border-color: #FF6699 !important;
}
/*input[type="text"] {
  font-size: 20px;
}

input[type="password"] {
  font-size: 20px;
}

input[type="email"] {
  font-size: 20px;
}*/

tick {
  list-style: none
}

tick:before {
  display: inline-block;
  vertical-align: top;
  line-height: 1em;
  width: 1em;
  height: 1em;
  margin-right: 0.3em;
  text-align: center;
  content: '✔';
  color: #999;
}

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
  font-family: "AvenirNextLTPro-UltLt", "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.button {
  font-size: 20px;
}

.button.activated {
  background-color: none !important;
}

.curvebutton.activated {
  background-color: white !important;
}

.title {
  font-size: 20px !important;
}

.button:hover {
  #color: #33CC33 !important;
}

p.ex1 {
  margin-bottom: 10px;
}

.bar-positive {
  background: #257AEA !important;
}

.title {
  color: white !important;
  font-family: "Times New Roman", Times, serif !important;
  font-size: 25px !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

.toptask {
  font-family: Arial !important;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  color: #717171 !important;
}

.toptask {
  margin-top: 100px !important;
}

ion-item:nth-child(odd) {
  background: #f9f9f9;
}

ion-item:nth-child(even) {
  background: #f2f2f2;
}

.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 30px;
  font-size: 40px;
  background: $warning;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.float-button .height_fix {
  margin-top: 100%;
}

.popover-items {
  height: 230px;
}

.round-button {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  background: #FF4719;
  box-shadow: 0 0 3px gray;
  font-size: 20px;
  font-weight: bold;
}

.as-sortable-item {
  width: 100%;
  margin: 2px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  list-style: none;
}

.p1 {
  width: 130px;
  height: 50px;
  margin-left: -70px;
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}

small.time {
  font-size: 100%;
  position: absolute;
  right: 50px;
  top: 4px;
  color: black;
}

.box {
  border-radius: 100%;
  border: 1px solid #E3E3E3;
  padding: 50px;
  background-color: #2891F7;
  color: white;
  font-size: 20px;
}

.aboutlogo {
  margin-top: 50px;
}

.labelClr {
  color: #FF6699;
}

.catgyName {
  font-family: Source Sans Pro !important;
  font-size: 27px;
  color: #009988;
  padding: 10px;
}

.newCatgyName {
  font-family: Source Sans Pro !important;
  font-size: 14px;
  color: #009988;
  padding: 10px;
}
/*Bounce animations for heart icon*/

.animated {
  -webkit-color: #FF6666;
  color: #FF6666;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.4);
  }
  75% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.4);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.rf-category-display {
  padding-left: 2px;
  padding-right: 2px;
}

.rf-recipe-display {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #efefef;
}

.rf-recipe-display .row,
.rf-recipe-display .col {
  padding-top: 0px;
  padding-bottom: 4px;
  border: 0px solid black;
}

.rf-recipe-display .row {
  padding-left: 1px;
  padding-right: 1px;
}

.rf-recipe-display .small-info {
  color: green;
  font-size: 13px;
}

.subcat-chevron {
  font-size: 35px;
  color: #FFF;
  padding-top: 30px;
}

.cat-header .small-info {
  color: #bbdefb;
  font-size: 12px;
}

.profile-info {
  color: green;
  font-size: 14px;
}

.profile-info-label {
  color: grey;
  font-size: 15px;
}

.rf-recipe-display .ion-info {
  color: #444;
  font-size: 15px;
}

.rf-title {
  border-color: #e42012;
  background-color: #aad061;
  background: linear-gradient(to bottom, #aad061, #7cb72f);
  border-color: #7cb72f;
  #background-image: linear-gradient(0deg, #e42012, #e42012 50%, transparent 50%);
  color: #FFF;
  font-family: sans-serif;
  font-size: 18px;
  padding-left: 4px;
  line-height: 1.13;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  letter-spacing: -.04em;
}

.rf-description {
  color: #666666;
  font-family: CNN, "Helvetica Neue", Helvetica, Arial, Utkal, sans-serif;
  font-size: 13px;
  margin-bottom: 10px;
  padding-left: 4px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  line-height: 1.33;
}

.rf-description pre {
  font-family: CNN, "Helvetica Neue", Helvetica, Arial, Utkal, sans-serif;
  font-size: 13px;
}

.rf-image {
  #opacity: 0.9;
}

.title-text {
  position: relative;
  top: -55px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.3);
  padding-left: 30px;
  color: whitesmoke;
}

.rf-play-icon {
  background: url("../img/play1.png") no-repeat 0;
  display: block;
  height: 32px;
  position: absolute;
  left: 46px;
  top: 32px;
  width: 32px;
  z-index: 1000;
}

.rf-play-icon1 {
  background: url("../img/play1.png") no-repeat 0;
  display: block;
  height: 80px;
  position: absolute;
  left: 45%;
  top: 80px;
  width: 80px;
  z-index: 1000;
}

.rf-card {
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.popup-container .popup {
  width: 100%;
  height: 100%;
}

.rf-video-container {
  width: 100%;
  height: 465px;
}
/*Modal animations*/

.mh-slide {
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
  opacity: 0
  /*    transform: rotate(0deg) scale(0.761) skew(1deg) translate(0px);*/
}

.mh-slide.ng-enter,
.mh-slide > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}

.mh-slide.ng-enter-active,
.mh-slide > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1;
}

.mh-slide.ng-leave,
.mh-slide > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.grocery-view {
  height: 90% !important;
  width: 90% !important;
  top: 25% !important;
  bottom: 5% !important;
  left: 5% !important;
  right: 5% !important;
  background: rgba(0, 0, 0, 0);
}

.grocery_form {
  background-color: #E6E6E6 !important;
}

.corner {
  padding-right: 60px !important;
}

input::-webkit-input-placeholder {
  color: #9EC1F8;
  padding-left: 10px;
}

input:-moz-placeholder {
  /* Firefox 18- */

  color: #9EC1F8;
  padding-left: 10px;
}

input::-moz-placeholder {
  /* Firefox 19+ */

  color: #9EC1F8;
  padding-left: 10px;
}

input:-ms-input-placeholder {
  color: #9EC1F8;
  padding-left: 10px;
}
/*grocery styles*/

.active {
  font-size: 16px;
}

.active-true {
  text-decoration: line-through;
  color: grey;
}

#grocery-items .active-true {
  text-decoration: line-through;
  color: green;
}

#grocery-items .active-true .item-name {
  color: grey;
}

.active-flase {
  text-decoration: none;
}

.editable-click {
  border-style: hidden !important;
}

.editable-buttons {
  vertical-align: top;
  margin-left: -40px !important;
}

.item-style {
  border-bottom: 1px solid #ECECEC !important;
  margin-bottom: 10px !important;
}

.continue-as-guest {
  margin: 0px 10px;
}

#filters {
  padding: 0;
  list-style: none;
  right: 0;
  left: 0;
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 15px;
}

#filters li {
  display: inline;
}

#filters li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

#filters li a.selected,
#filters li a:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

#filters li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
  background-color: #009688;
  color: white;
}

#grocery-items .item-complex .item-content,
.item-radio .item-content {
  padding: 0px !important;
}

#grocery-items .checkbox {
  padding: 7px 15px;
}

.checkbox-calm input:checked:before,
.checkbox-calm input:checked + .checkbox-icon:before {
  background: #DDD;
  border-color: #CCC;
}

.checkbox-calm input:before,
.checkbox-calm .checkbox-icon:before {
  border-color: #CCC;
}

#grocery-lists .editable-buttons {
  padding-top: 35px;
}

.login-view .alternative-actions .continue-as-guest {
  padding: 0 4px;
  font-size: 13px;
}

#grocery-lists .item-content.activated {
  border-color: #FFF !important;
  background-color: #FFF !important;
}

.img-styles {
  border: 1px solid lightgray;
  float: left;
  width: 48%;
  margin: 1%;
  height: 90px;
}

.cat-header {
  border: 1px solid lightgray;
  background: -webkit-linear-gradient(left top, #1A1A1A, #387EF5, #1A1A1A);
  /* For Safari 5.1 to 6.0 */

  background: -o-linear-gradient(bottom right, #1A1A1A, #387EF5, #1A1A1A);
  /* For Opera 11.1 to 12.0 */

  background: -moz-linear-gradient(bottom right, #1A1A1A, #387EF5, #1A1A1A);
  /* For Firefox 3.6 to 15 */

  background: linear-gradient(to bottom right, #1A1A1A, #387EF5, #1A1A1A);
  /* Standard syntax (must be last) */
}

.button.button-icon.input-button {
  position: absolute;
  right: 60px;
  top: 5px;
  color: #bbb;
}

.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}

.caption-box {
  color: #FFF;
  font-size: 15px;
  bottom: 55px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  margin: 0 10px;
  text-align: center;
}

.cat-img {
  width: 100%;
  height: 100%;
}
